{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}



{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
            <h1 class="h3 mb-0 text-gray-800">Title: {{ test.title }}</h1>
        </div>
        <p class="mb-0 text-gray-800">Description: {{ test.description }}</p>

        <div class="modal fade" tabindex="-1" role="dialog" id="modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="p-5">
                    <hr>
                    {% for test_case in test.testcase_set.all %}
                        <div class="card p-5">
                            <div class="row">
                                <div class="col-lg-7">
                                    <p>{{ test_case.content }}</p>
                                    {% for answer in test_case.answer_set.all %}
                                        <form method="POST" action="{% url 'answer-delete' pk=answer.id %}">
                                            <p>
                                                {% if answer.is_correct %}
                                                    <input type="radio" disabled checked>
                                                {% else %}
                                                    <input type="radio" disabled>
                                                {% endif %}
                                                {{ answer.content }}

                                                {% csrf_token %}
                                                <button class="btn" type="submit"><i class="fas fa-fw fa-trash"></i>
                                                </button>
                                            </p>

                                        </form>

                                    {% endfor %}
                                    <button id="answer-create{{ test_case.id }}" class="btn" type="button"
                                            name="button">
                                        <i class="fas fa-fw fa-plus"></i>
                                        add Answer
                                    </button>
                                </div>
                                <div class="col-lg-3 justify-content-end">
                                    <p class="text-gray-600">Score: {{ test_case.score }}</p>
                                </div>
                            </div>

                            <script type="text/javascript">
                                $(document).ready(function () {

                                    $("#answer-create{{test_case.id}}").modalForm({
                                        formURL: "{% url 'answer-create' test_id=test.id test_case_id=test_case.id %}"
                                    });

                                });
                            </script>
                        </div>

                    {% endfor %}

                </div>
                <button id="test_case-create" class="btn" type="button" name="button">
                    <i class="fas fa-fw fa-plus"></i>
                    add TestCase
                </button>
            </div>
            <div class="col-lg-2"></div>
            {% if warnings %}
                <div class="col-lg-4">
                    <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
                        <div class="card-header bg-warning">Warning</div>
                        {% for warn in warnings %}
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <p class="card-text">{{warn}}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {

            $("#test_case-create").modalForm({
                formURL: "{% url 'test_case-create' test_id=test.id%}"
            });

        });
    </script>

    </div>
{% endblock content %}